* {
    transition: all ease 0.9s;
}

body {
    background-image: url(./img/body_bg.png);
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 24pc);
    row-gap: 1pc;
    justify-items: center;
    justify-content: center;
}

.nav {
    background-color: blueviolet;
    margin-bottom: 1pc;
    justify-content: space-between;
    padding: 0 1pc;
    height: 5pc;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.nav ul {
    list-style: none;
}
.nav ul li a{
    color: white; 
    text-decoration: none;
}
.card { 
    width: 19pc;
    background-color: #232323;
    color: aliceblue;
}

.number {
    position: relative;
    height: 14pc;
    width: 100%;
    background: aliceblue;
   color: #616161;
   font-family: fantasy;
   opacity: 0.09;
   text-align: center;
   font-size: 6pc;
   
}

.imagen {
   width: 11pc;
   position: absolute;
   top: 16px;
   left: 16%;
   
}
 .card:hover {
    background: #616161;
 }

 .card:hover  .number{
    opacity: 1;
    font-size: 9pc;
 }
 
   .card:hover .imagen {
      width: 16pc;
      top: -21px;
      left:8% ;
   }
 .containerInfo {
    padding: 0 1pc;
    font-family: monospace;
    font-size: 1pc;
 }

 .centrar { 
    display: flex;
    align-items: center;
    gap: 1pc;
 }

 .border {
    padding: 3px;
    margin: 0;
    border-radius: 6px;
 }
    
 .borderRa {
    border-radius: 10px;
 }

 .more {
    padding:  0 1pc;
    font-family: fantasy;
    color: aliceblue;
    align-items: center;
    gap: 7px;
 }
 
 .more div { 
    width: 2pc;
 }
  .more img { 
    width: 2pc;
  }

  .more:hover img {
    rotate: 1deg;
    animation: rotate 0.1s linear;
  }

  /*slider*/
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    display: flex;
    width: 91%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 31pc;
  }

  .slider-hijos{
    flex: 0  0 115%;
    width: 100%;
    object-fit: cover;
    margin: 1pc;
    scroll-snap-align: center;
  }
   
  @keyframes rotate {
      0%{
         transition: rotate(0deg);
      }
      100% {
         transform: rotate(90deg)
      }
  }
  .slider-container::-webkit-scrollbar{
   height: 1pc;
  }
  .slider-container::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: black;
  }
  .anuncio{
   width: 15pc;
   text-align: center;
   font-family: fantasy;
   color: aliceblue;
  }

  @media screen and (max-width:950) {
   .container{
      grid-template-columns: repeat(1, 20pc);
   }
  }
  @media  screen and (max-width:850px) {
   .container{
      grid-template-columns: repeat (1,20pc);
   }
   .slider-container{ 
      padding: 0px 4pc;
   }
  }